<template>
  <div>
    <p>Class and Style Bindings</p>
    <div v-bind:class="{ active: isActive }">
      <span>Active / Inactive</span>
      <button v-on:click="isActive = !isActive">Change</button>
    </div>
    <div v-bind:class="{ 'text-danger': hasError, active: isActive }">
      <input type="text" v-model="errorText"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ClassStyle',
  data: function () {
    return {
      isActive: true,
      errorText: '',
      hasError: true
    }
  },
  watch: {
    errorText: function (newValue, oldValue) {
      this.hasError = !newValue
    }
  }
}
</script>
