<template>
  <div>
    <p>{{ sectionTitle }}</p>
    <p>Original message: {{ message }}</p>
    <p>Computed reverse: {{ reversed }}</p>
    <p>FullName: {{ fullName }}</p>
    <div id="watch-example">
  <p>
    Ask a yes/no question:
    <input v-model="question">
  </p>
  <p>{{ answer }}</p>
</div>
  </div>
</template>

<script>
import Vue from 'vue'
import _debounce from 'lodash/debounce'

export default Vue.component('ComputedSamples', {
  data: function () {
    return {
      sectionTitle: 'Computed Properties and Watchers',
      message: 'Hello!',
      firstName: 'Prathap Beschi',
      lastName: 'Antony Amalraj',
      question: '',
      answer: 'Plese ask a question'
    }
  },
  computed: {
    reversed: function () {
      return this.message.split('').reverse().join('')
    },
    fullName: function () {
      return this.firstName + ' ' + this.lastName
    }
  },
  watch: {
    question: function (newQ, oldQ) {
      this.answer = 'Waiting for you to complete'
      this.debouncedGetAnswer()
    }
  },
  created: function () {
    console.log('component is created - Computed Samples -')
    this.debouncedGetAnswer = _debounce(this.getAnswer, 1000)
  },
  methods: {
    getAnswer: function () {
      if (!this.question) {
        this.answer = 'Plese ask a question'
      }
      this.answer = 'Thinking...'
      // ajax call here...
    }
  }
})
</script>
