<template>
  <div>
    <p>Conditional Rendering</p>
    <div>
      <span v-if="yes">Yes</span>
      <span v-else>No</span>
      <button v-on:click="yes = !yes">Toggle Value</button>
    </div>
    <div>
      <span v-show="yes">Yes</span>
      <span v-show="!yes">No</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ConditionalRendering',
  data: function () {
    return {
      yes: true
    }
  }
}
</script>
