<template>
  <div>

    <p>Event Handling</p>
    <div>
      <button v-on:click="count += 1">Add</button>
      <p>Button is clicked for {{count}} times!</p>
    </div>

    <div>
      <button v-on:click="greet">Greet from Button</button>
      <span v-on:click="greet">Greet from Span</span>
    </div>

    <div>
      <div>Normal: Click on inner - will trigger the click on outer</div>
      <div class="outer" v-on:click="outerClicked('1')">
        Ourter
        <div class="inner" v-on:click="innerClicked('1')">
          Inner
        </div>
      </div>
    </div>

    <div>
      <div>Using click.stop on inner, outer click is blocked</div>
      <div class="outer" v-on:click="outerClicked('1')">
        Ourter
        <div class="inner" v-on:click.stop="innerClicked('1')">
          Inner
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'EventHandling',
  data () {
    return {
      count: 0
    }
  },
  methods: {
    greet (message, event) {
      console.log('Hello!')
      if (event.target.tagName) {
        console.log(event.target.tagName)
      }
    },
    outerClicked (index) {
      console.log('Click on outer :' + index)
    },
    innerClicked (index) {
      console.log('Click on INNER :' + index)
    }
  }
}
</script>

<style scoped>
.outer {
  padding: 10px;
  background: antiquewhite;
}
.inner {
  padding: 10px;
  background: cornflowerblue;
}
</style>
