<template>
  <div>
    <p>Form Input Bindings</p>

    <div class="section">
      <input v-model="message"/>
      <p>Message is {{message}}</p>
      <textarea v-model="multiLine"></textarea>
      <p class="multi-line">{{multiLine}}</p>
    </div>

    <div class="section">
      <input type="checkbox" id="singleCheck" v-model="singleCheck"/>
      <label for="singleCheck">Single Checkbox {{singleCheck}}</label>
      <p></p>
      <input type="checkbox" id="photon" value="Photon" v-model="multiCheck"/>
      <label for="photon">Photon</label>
      <input type="checkbox" id="samsung" value="Samsung" v-model="multiCheck"/>
      <label for="samsung">Samsung</label>
      <span>Multiple Checkboxes, value: {{multiCheck}}</span>
    </div>

    <div class="section">
      <input type="radio" id="one" value="One" v-model="picked">
      <label for="one">One</label>
      <br/>
      <input type="radio" id="two" value="Two" v-model="picked">
      <label for="two">Two</label>
      <br/>
      <span>Picked: {{ picked }}</span>
    </div>

    <div class="section">
      <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <span>Selected: {{ selected }}</span>
    </div>

  </div>
</template>

<script>
export default {
  name: 'FormInput',
  data () {
    return {
      message: '',
      multiLine: '',
      singleCheck: false,
      multiCheck: [],
      picked: '',
      selected: ''
    }
  }
}
</script>

<style scoped>
.multi-line {
  white-space: pre-line;
}
.section {
  border-bottom: 1px solid grey;
  padding: 10px;
}
</style>
