<template>
  <div>
    <p>{{ message }}</p>
    <component-basics class="sample-section"/>
    <form-input class="sample-section"/>
    <event-handling class="sample-section"/>
    <list-rendering class="sample-section"/>
    <conditional-rendering class="sample-section"/>
    <class-style class="sample-section"/>
    <computed-samples class="sample-section"/>
  </div>
</template>

<script>
import Vue from 'vue'
import ComputedSamples from './Computed'
import ClassStyle from './ClassStyle'
import ConditionalRendering from './ConditionalRendering'
import ListRendering from './ListRendering'
import EventHandling from './EventHandling'
import FormInput from './FormInput'
import ComponentBasics from './ComponentBasics'

export default Vue.component('Samples', {
  data: function () {
    return {
      message: 'Samples from vue documentation'
    }
  },
  components: {
    ComputedSamples,
    ClassStyle,
    ConditionalRendering,
    ListRendering,
    EventHandling,
    FormInput,
    ComponentBasics
  }
})
</script>

<style scoped>
.sample-section {
  border: 1px solid grey;
  padding: 4px;
  border-radius: 2px;
  margin: 4px;
}
</style>
