<template>
  <div>
    <p>List Rendering</p>

    <div>
      <ul>
        <li v-for="(item, index) in items" v-bind:key="index">
          {{ index }} - {{ item.message }}
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <li v-for="(value, key, index) in person" v-bind:key="index">
          {{ key }}: {{ value }}
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <li v-for="(item, index) in arr" v-bind:key="index">
          {{ item }}
        </li>
      </ul>
      <button v-on:click="addMore">ADD</button>
    </div>

    <div>
      <p>ALL</p>
      <ul>
        <li v-for="(item, index) in allNumbers" v-bind:key="index">{{item}}</li>
      </ul>
      <p>ONLY EVEN</p>
      <ul>
        <li v-for="(item, index) in evenNumbers" v-bind:key="index">{{item}}</li>
      </ul>
    </div>

    <div id="todo-example">
      <form v-on:submit.prevent="addNewTodo">
        <label for="new-todo">Add a todo</label>
        <input
          v-model="newTodoText"
          id="new-todo"
        >
        <button>Add</button>
      </form>
      <ul>
        <li
          is="todo-item"
          v-for="(todo, index) in todos"
          v-bind:key="index"
          v-bind:title="todo.title"
          v-on:remove="todos.splice(index, 1)"
        ></li>
      </ul>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import TodoItem from './TodoItem'

export default Vue.component('ListRendering', {
  data: function () {
    return {
      items: [
        { message: 'Foo' },
        { message: 'Bar' }
      ],
      person: {
        firstName: 'Prathap',
        lastName: 'A',
        age: 34
      },
      arr: [1, 2, 3],
      allNumbers: [1, 2, 3, 4, 5, 6, 7, 8, 9],
      newTodoText: '',
      todos: [{
        title: ' Todo 1...'
      }]
    }
  },
  methods: {
    addMore: function () {
      Vue.set(this.arr, this.arr.length, this.arr.length + 1)
    },
    addNewTodo: function () {
      this.todos.push({ title: this.newTodoText })
      console.log(this.todos)
      this.newTodoText = ''
    }
  },
  computed: {
    evenNumbers: function () {
      return this.allNumbers.filter(function (number) {
        return number % 2 === 0
      })
    }
  },
  components: {
    TodoItem
  }
})
</script>
