<template>
  <div>
    <p>{{ count }}</p>
    <p>
      <button v-on:click="inc">Inc</button>
      <button v-on:click="dec">Dec</button>
    </p>
    <p>
      <button v-on:click="inc2">Inc by 2</button>
    </p>
    <div>
      <ul>
        <li v-for="(todo, index) in todos" :key="index">{{todo.text}}</li>
      </ul>
      <p>Completed items: {{doneTodosCount}}</p>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
import { INCREMENT, DECREMENT } from '../../store/mutation-types'

export default {
  name: 'VuexExamples',
  computed: {
    // makes this.$store.state.count to this.count
    ...mapState(['count', 'todos']),
    ...mapGetters(['doneTodos', 'doneTodosCount'])
  },
  methods: {
    // makes this.$store.commit(INCREMENT) to this.inc()
    ...mapMutations({
      inc: INCREMENT
      // dec: DECREMENT
    }),
    // makes this.$store.dispatch(DECREMENT) to this.dec()
    ...mapActions({
      dec: DECREMENT
    }),
    inc2 () {
      this.inc({ amount: 2 })
    }
  }
}
</script>
