<template>
  <div>
    <p>User ID: {{$route.params.id}}</p>
    <p>Name: {{$route.params.name}}</p>
    <button v-on:click="gotoProfile">Profile</button>
    <button v-on:click="gotoSettings">Settings</button>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'DynamicRoute',
  methods: {
    gotoProfile () {
      this.$router.push({path: '/user/13/profile'})
    },
    gotoSettings () {
      this.$router.push({path: '/user/13/settings'})
    }
  }
}
</script>
