<template>
  <div class="blog-post">
    <h3>Blog Post Component</h3>
    <p>Title: {{title}}</p>
    <p>Likes: {{likes}}</p>
    <p>Published: {{published}}</p>
    <p>Content: <slot></slot></p>
  </div>
</template>

<script>
export default {
  name: 'BlogPost',
  props: {
    title: {
      type: String,
      required: true
    },
    likes: {
      type: Number,
      default: 0
    },
    isPublished: Boolean
  },
  computed: {
    published () {
      return this.isPublished ? 'Yes' : 'No'
    }
  }
}
</script>

<style>
.blog-post {
  border: 1px solid grey;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
}
.blog-post.special {
  border-style: outset;
}
</style>
