<template>
  <div>
    <p>Events</p>
    <p>
      <button @click="sendEvent">Click and check console</button>
    </p>
  </div>
</template>

<script>
export default {
  name: 'Events',
  methods: {
    sendEvent () {
      this.$emit('custom-click')
    }
  }
}
</script>
