<template>

  <div>
    <p>Components in Depth</p>
    <div>
      <sample-component></sample-component>
      <simple-component post-title="Hello!"></simple-component>
      <blog-post title="Test Post"></blog-post>
      <blog-post v-bind="samplePost" class="special">
        Blog Post content can be placed here - Component will use slot to get it.
      </blog-post>
      <events v-on:custom-click="clickFromChild"></events>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'

// SimpleComponent needs to be registered before using
import SimpleComponent from './SimpleComponent'
import BlogPost from './BlogPost'
import Events from './Events'

// Global component - no need to register
Vue.component('sample-component', {
  template: `
    <div>Sample Component</div>
  `
})

export default {
  name: 'Components',
  data () {
    return {
      samplePost: {
        title: 'Title from Object',
        likes: 22,
        isPublished: true
      }
    }
  },
  components: {
    SimpleComponent,
    BlogPost,
    Events
  },
  methods: {
    clickFromChild () {
      console.log('clickFromChild - event received!')
    }
  }
}
</script>

<style scoped>
.sample-section {
  border: 1px solid darkolivegreen;
  padding: 4px;
  border-radius: 2px;
  margin: 4px;
}
</style>
