<template>
  <div>
    <p>Locale:
      <select v-model="selectedLanguage">
        <option v-for="option in languageOptions" v-bind:value="option" v-bind:key="option">
          {{ option }}
        </option>
      </select>
    </p>
    <p>{{ $t("message.hello") }}</p>
    <p v-html="$t('message.helloHtml')"></p>
    <p>{{ $t('message.welcome', {name: 'Prathap'}) }}</p>
  </div>
</template>

<script>
import { setLocale } from '../../i18n'

export default {
  name: 'Locale',
  data () {
    return {
      languageOptions: ['en', 'ja'],
      selectedLanguage: 'en'
    }
  },
  watch: {
    selectedLanguage (val) {
      setLocale(val)
    }
  }
}
</script>

<style scoped>
p {
  padding: 4px;
  margin: 4px;
  border: 1px solid #ddd;
}
</style>
